<!DOCTYPE html>
<html>

<head>
  <title>The Gossip Project</title>
</head>

<body>


  <!-- MAIN BODY -->
  <section id="gossip-section" class="py-1 mb-5" style="margin-top: 50px">
    <div class="container mt-2">
      <h1><%= @city.name %> </h1>
    </div>
  </section>


</body>
</html>